<!DOCTYPE html>
<html>
  <head>
    <title>Fashion and Beauty</title>
  </head>
  <body> Whether you buy vogue, watch the runways, or lounge all day, fashion is fashion. Fashion is the way we can express ourselves in our own unique way. Our style can describe our bold, confident, and rare personality without using words. Highlight your natural beauty with simple and natural products. Take our Beauty Products quiz to find some of the right products for you and use some of the beauty resources below.
  <br>
  <br>
  Here are some of the few resources that will allow you to learn more about fashion and find new trending ways to express your true self. 

</body>
</html>