<!DOCTYPE html>
<html>
  <head>
    <title>Fashion and Beauty</title>
  </head>
  <body> Whether you buy vogue, watch the runways, or lounge all day, fashion is fashion. Fashion is the way we can express ourselves in our own unique way. Our style can describe our bold, confident, and rare personality without using words. Highlight your natural beauty with simple and natural products. Take our Beauty Products quiz to find some of the right products for you and use some of the beauty resources below.

Here are some of the few resources that will allow you to learn more about fashion and find new trending ways to express your true self. 

Blogs:
https://monikh.com
http://carodaur.com
https://www.shewearsfashion.com
http://www.bisousnatasha.com
http://weworewhat.com
https://rebeccafearn.com
https://www.astylealbum.com


Vlogs from Youtube:
https://www.youtube.com/channel/UCsopuR4Uw3TSA1VPY0MyAfQ?reload=9
Claudia Sulewski
https://www.youtube.com/user/LoLuFullyLoaded
Lauren Elizabeth
https://www.youtube.com/channel/UCWRV5AVOlKJR1Flvgt310Cw
Zoella
https://www.youtube.com/user/clothesencounters/featured
Jenn Im
https://www.youtube.com/user/StilaBabe09
Meredith Foster
https://www.youtube.com/user/oliviajadebeauty/featured
Olivia Jade
https://www.youtube.com/channel/UCrIIH7yHQugaUuoTZDoEUuQ
Tanya Burr  
</body>
</html>